*{
    margin: 0;
    padding: 0;
    border-style: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    height: 100vh;
}
.box{
    border: 2px solid black;
    color: white;
}
.logo{
    background-color: hsl(193, 12%, 37%);       
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    grid-column: 1/2;
    grid-row: 1/2;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(174, 36, 36);
    grid-column: 2/4;
    grid-row: 1/4;
}
.menu a{
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.hero{
    background-image: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?q=80&w=1150&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    grid-column: 1/4;
    grid-row: 2/3;
}
.about{
    background-color: hsl(193, 12%, 37%);
    padding: 10px 20px;
    grid-column: 1/3;
    grid-row: 3/4;
}
.image{
    background-image: url(https://images.unsplash.com/photo-1487611459768-bd414656ea10?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 3/4;
    grid-row: 3/4;
}
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: goldenrod;
    padding: 10px 20px;
    grid-column: 1/3;
    grid-row: 4/5;
}
.offer button{
    margin-top: 10px;
    padding: 15px 30px;
    background: hsl(193, 12%, 37%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact{
    background-color: green;
    padding: 10px 20px;
    grid-column: 3/4;
    grid-row: 4/5;
}

/* tablet view */
@media screen and (min-width: 600px) and (max-width: 1200px){
    .grid{
        grid-template-rows: 1fr 4fr 6fr 2fr 2fr;
        height: 100vh;
    }
    .logo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .menu{
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .hero{
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .about{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .image{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .offer{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .contract{
        grid-column: 3/4;
        grid-row: 4/5;
    }
}

/* mobile view */
@media screen and (min-width: 300px) and (max-width: 600px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        height: auto;
        min-height: 100vh;
    }
    .logo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .menu{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .hero{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .about{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .image{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .offer{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .contract{
        grid-column: 1/2;
        grid-row: 7/8;
    }
}